{% extends "bookmark/base.html" %}

{% block content %}
    <h1>Your bookmarks</h1>
        {% for bookmark in user_bookmarks %}
                <li class="list-unstyled">{{ bookmark.title }}
                   <strong>{{ bookmark.long }}</strong> created at
                    {{ bookmark.created }} </li>
                <li class="list-comment">
                    <a class="padded-delete" href="{% url 'bookmark_update' bookmark.id %}">Edit </a>
                    <a class="padded-delete" href="{% url 'bookmark_delete' bookmark.id %}">Delete</a></li>
        {% endfor %}
{% endblock %}


